@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hack';
    src: url('../fonts/hack-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf') format('truetype'),
         url('../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-camera {
    font-size: 14px;
}

.icon-camera:before {
    content: "\e901";
}


body {
    background: #fff;
    color: #222;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    color: #777;
    text-decoration: none;
    transition: color .25s;
}

code {
    font-family: Hack, monospace;
}

div {
    margin: 0;
    padding: 0;
}

hr {
    clear: both;
    color: black;
    background-color: rgba(0,0,0,.45);
    height: 1px;
    border: none;    
}

menu, nav {
    list-style: none;
    font: 12px Orbitron, Arial, sans-serif;
}

menu > li, nav > li {
    display: inline;
}

body a:hover {
    color: #000;
}

body > header a, body > nav a, body > footer a {
    color: #cef;
}

body > header a:hover, body > nav a:hover, body > footer a:hover {
    color: #fff;
}

body > header {
    background-color: #0af;
    display: block;
    color: #cef;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 56px;
    z-index: 100;
    min-width: 256px;
}

body > header img {
    margin: 0 16px;
}

body > header #logo {
    float: left;
    height: 32px;
    font: 24px Orbitron, Arial, sans-serif;
    margin: 0;
    font-weight: 100;
    padding: 12px 0 12px 16px;
}

body > header #logo span {
    position: relative;
    bottom: 8px;
}

body > header #login {
    float: right;
    height: 32px;
    margin: 0;
    padding: 12px 24px;
    font: 24px Orbitron, Arial, sans-serif;
    font-weight: 600;
    text-align: right;
}

body > header #userinfo {
    float: right;
    height: 32px;
    margin: 0;
    padding: 12px 0 12px 12px;
    font: 12px Orbitron, Arial, sans-serif;
    font-weight: 100;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

body > header #userpic {
    float: right;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 12px 24px 12px 12px;
}

/* User Info Popup */

.user-info-popup {
    width: 630px;
    height: 300px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    color: black;
    left: 50vw;
    top: 50vh;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px black;
    overflow: scroll;
    transition: width .5s ease-in-out, height .5s ease-in-out;
}

#dimming-mask.dimming-mask-active {
    pointer-events: all;
    opacity: 1;
}

#dimming-mask {
    z-index: 100;
    opacity: 0;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0, .6);
    pointer-events: none;
    transition: opacity .5s ease-in-out;
}

.popup-content {
    font: 12px Orbitron, Arial, sans-serif;
    margin: 1.75em 2.5em;
}

.full-name {
    font-size: 1.5em;
    vertical-align: bottom;
    display: inline-block;
    margin-top: 2em;
    line-height: 0;
}

.popup-header img {
    float: right;
    border-radius: 50%;
    margin-top: 1em;
}

.popup-content hr {
    clear: both;
    color: black;
    background-color: rgba(0,0,0,.45);
    height: 1px;
    border: none;
}

.chat-title
{
    text-align: center;
    color: #00aaff;
    font-size: 2em;
    font-weight: 100;
    line-height: 0;

}

.u-info-title {
    margin: 0 0 .5em 0;
    display: inline-block;
    font-weight: 800;
    font-size: 1.2em;
    line-height: 1em;
}

.u-info-detail {
    display: inline-block;
    color: rgba(0,0,0,.45);
}

#exit-btn {
    position: absolute;
    display: block;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 1.5em;
    top: 1em;
}

#exit-btn:hover {
    transform: scale(1.25);
}

#view-user-info {
    display: inline-block;
    float: none;
}

#view-user-info:hover {
    color: white;
}

#view-user-info, header #userpic {
    cursor: pointer;
}

#logout-divider {
    display: inline-block;
    margin: 0 .5em;
}

#logout-link {
    display: inline-block;
    margin-left: 0;
}

.foss-link, .popup-description {
    display: inline;
}


/* Navbar */

body > nav {
    background: #17a url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cg%20style%3D%22stroke%3A%23117fbf%3Bstroke-width%3A1.66%3Bstroke-dasharray%3A5%2C5%3Bstroke-dashoffset%3A7.5%3B%22%3E%3Cpath%20d%3D%22m%200%2C20%2040%2C0%22%2F%3E%3Cpath%20d%3D%22m%2020%2C0%200%2C40%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') repeat;
    color: #eef;
    width: 100%;
    height: 240px;
    margin: 56px 0 48px;
    padding: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    z-index: 50;
    position: relative;
    top: 0;
    min-width: 256px;
}

body > nav > header {
    padding: 56px 24px;
}

body > nav > #gcilogo {
    display: block;
       
}

body.stickynav > nav {
    position: fixed;
    top: 56px;
    margin: 0;
    height: 44px;
}

body.stickynav > nav > header {
    display: none;
}

body.stickynav > main {
    margin-top: 344px;
}

body > nav > menu {
    position: absolute;
    bottom: 16px;
    margin: 0;
    padding: 0;
}

body > nav > menu > li {
    padding: 270px 24px 12px;
}

body.stickynav > nav > menu > li {
    height: 32px;
    padding: 12px 24px;
}

body > nav > menu > li:target {
    border-bottom: 4px solid #fff;
}

body > main {
    display: block;
    margin: 0 64px;
    min-width: 240px;
    font-family: Orbitron, Arial, sans-serif;
}

body > main.hidden {
    display: none;
}

body > main#tasks-main > div {
    display: table;
    width: 100%;
}

body > main#tasks-main > div > section {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
}

body > main#tasks-main > div > section > h1 {
    font-size: 16px;
    color: #888;
    white-space: pre;
}

/* Chat 
 * Candy - Chats are not dead yet.
 * Legal: See the LICENSE file at the top-level directory of this distribution and at https://github.com/candy-chat/candy/blob/master/LICENSE
 */

#candy {
    width: 100%;
    height: 400px;
    position: relative;
    resize: vertical;
    background-color: #ccc;
    color: #333;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    z-index: 25;
}

#candy a {
    color: #333;
    text-decoration: none;
}

#candy ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat-tabs {
    list-style: none;
    margin: 0 200px 0 0;
    padding: 0;
    overflow: auto;
    overflow-y: hidden;
}

#chat-tabs li {
    margin: 0;
    float: left;
    position: relative;
    white-space: nowrap;
    margin: 3px 0 0 3px;
}

#chat-tabs a {
    padding: 4px 50px 4px 10px;
    display: inline-block;
    color: #ddd;
    height: 20px;
    background-color: #888;
}

#chat-tabs .active a {
    background-color: #eee;
    color: black;
}

#chat-tabs .transition {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 35px;
    height: 30px;
    background: url(../candy/res/img/tab-transitions.png) repeat-y left;
    display: none;
}

#chat-tabs a.close {
    background-color: transparent;
    position: absolute;
    right: -2px;
    top: -3px;
    height: auto;
    padding: 5px;
    margin: 0 5px 0 2px;
    color: #aaa;
}

#chat-tabs .active .transition {
    background: url(../candy/res/img/tab-transitions.png) repeat-y -50px;
}

#chat-tabs .close:hover {
    color: black;
}

#chat-tabs .unread {
    color: white;
    background-color: #9b1414;
    padding: 2px 4px;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 22px;
}

#chat-tabs .offline .label {
    text-decoration: line-through;
}

#chat-toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #666;
    width: 200px;
    height: 24px;
    /* padding-top: 7px; */
    background-color: #ccc;
    display: none;
}

#chat-toolbar li {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    float: left;
    display: inline-block;
    cursor: pointer;
    background-position: top left;
    background-repeat: no-repeat;
}

#chat-toolbar #emoticons-icon {
    background-image: url(../candy/res/img/action/emoticons.png);
}

#chat-toolbar .context {
    background-image: url(../candy/res/img/action/settings.png);
    display: none;
}

.role-moderator #chat-toolbar .context, .affiliation-owner #chat-toolbar .context {
    display: inline-block;
}

#chat-sound-control {
    background-image: url(../candy/res/img/action/sound-off.png);
}

#chat-sound-control.checked {
    background-image: url(../candy/res/img/action/sound-on.png);
}

#chat-autoscroll-control {
    background-image: url(../candy/res/img/action/autoscroll-off.png);
}

#chat-autoscroll-control.checked {
    background-image: url(../candy/res/img/action/autoscroll-on.png);
}

#chat-statusmessage-control {
    background-image: url(../candy/res/img/action/statusmessage-off.png);
}

#chat-statusmessage-control.checked {
    background-image: url(../candy/res/img/action/statusmessage-on.png);
}

#chat-toolbar .usercount {
    background-image: url(../candy/res/img/action/usercount.png);
    cursor: default;
    padding-left: 20px;
    width: auto;
    margin-right: 5px;
    float: right;
}

.usercount span {
    display: inline-block;
    padding: 1px 3px;
    font-weight: bold;
    color: #ccc;
}

.room-pane {
    display: none;
    font: 16px/normal Hack, monospace;
}

.roster-pane {
    position: absolute;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    margin: 30px 0 31px 0;
    background-color: #eee;
}

.roster-pane .user {
    cursor: pointer;
    padding: 7px 10px;
    opacity: 0;
    display: none;
    color: #555;
    clear: both;
    height: 14px;
}

.roster-pane .user:hover {
    background-color: #ccc;
}

.roster-pane .user.status-ignored {
    cursor: default;
}

.roster-pane .user.me {
    font-weight: bold;
    cursor: default;
}

.roster-pane .user.me:hover {
    background-color: transparent;
}

.roster-pane .label {
    float: left;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
}

.roster-pane li {
    width: 16px;
    height: 16px;
    float: right;
    display: block;
    margin-left: 3px;
    background-repeat: no-repeat;
    background-position: center;
}

.roster-pane li.role {
    cursor: default;
    display: none;
}

.roster-pane li.role-moderator {
    background-image: url(../candy/res/img/roster/role-moderator.png);
    display: block;
}

.roster-pane li.affiliation-owner {
    background-image: url(../candy/res/img/roster/affiliation-owner.png);
    display: block;
}

.roster-pane li.ignore {
    background-image: url(../candy/res/img/roster/ignore.png);
    display: none;
}

.roster-pane .status-ignored li.ignore {
    display: block;
}

.roster-pane li.context {
    color: #999;
    text-align: center;
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.roster-pane li.context:hover {
    background-color: #666;

}

.roster-pane .me li.context {
    display: none;
}

.message-pane-wrapper {
    clear: both;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: auto;
    margin: 30px 200px 31px 0;
    background-color: #f5f5f5;
    padding: 0 5px;
}

.message-pane {
    padding-top: 1px;
}

.message-pane li {
    cursor: default;
}

.message-pane small {
    display: none;
    color: #a00;
    font-size: 10px;
    position: absolute;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 20px;
    margin: 4px 0;
    padding: 0 5px;
    right: 5px;
}

.message-pane li:hover {
    background-color: #f7f7f7;
}

.message-pane li:hover small {
    display: block;
}

.message-pane li>div {
    overflow: auto;
    padding: 2px 0 2px 144px;
    line-height: 24px;
    white-space: pre-wrap;
    word-wrap: break-word;/* Internet Explorer 5.5+ */
}

.message-pane li>div p {
    margin: 0;
}

.message-pane .label {
    font-weight: bold;
    white-space: nowrap;
    display: block;
    margin-left: -144px;
    width: 128px;
    float: left;
    overflow: hidden;
    text-align: right;
    color: black;
}

.message-pane .spacer {
    color: #aaa;
    font-weight: bold;
    margin-left: -14px;
    float: left;
}

.message-pane .subject, .message-pane .subject .label {
    color: #a00;
    font-weight: bold;
}

.message-pane .adminmessage {
    color: #a00;
    font-weight: bold;
}

.message-pane .infomessage {
    color: #888;
    font-style: italic;
}

.message-pane div>a {
    color: #a00;
}

.message-pane a:hover {
    text-decoration: underline;
}

.message-pane .emoticon {
    vertical-align: text-bottom;
    height: 15px;
    width: 15px;
}

.message-form-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    margin-right: 200px;
    background-color: #ddd;
    height: 31px;
}

.message-form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 25px;
    padding: 0;
}

textarea {
    border: 0 none;
    padding: 3px 8px;
    margin-left: 5px;
    margin-bottom: 4px;
    font-size: 14px;
    width: 100%;
    display: block;
    outline-width: 0;
    background-color: white;
    height: 18px;
}

.message-form input.submit {
    cursor: pointer;
    background-color: hsl(0, 0%, 74%);
    color: #666;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px -25px 0px 0px;
    padding: 5px 12px;
    width: auto;
    font-size: 13px;
    line-height: 12px;
    height: 31px;
    font-weight: bold;
    font-family: Orbitron, Arial, sans-serif;
}

#tooltip {
    position: absolute;
    z-index: 10;
    display: none;
    margin: 13px -18px -3px -2px;
    color: #333;
    font-size: 11px;
    padding: 5px 0;
}

#tooltip div {
    background-color: #f7f7f7;
    padding: 2px 5px;
    zoom: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .75);
}

.arrow {
    background: url(../candy/res/img/tooltip-arrows.gif) no-repeat left bottom;
    height: 5px;
    display: block;
    position: relative;
    z-index: 11;
}

.right-bottom .arrow-bottom {
    background-position: right bottom;
}

.arrow-top {
    display: none;
    background-position: left top;
}

.right-top .arrow-top {
    display: block;
    background-position: right top;
}

.left-top .arrow-top {
    display: block;
}


.left-top .arrow-bottom,
.right-top .arrow-bottom {
    display: none;
}

#context-menu {
    position: absolute;
    z-index: 10;
    display: none;
    padding: 5px 10px;
    margin: 13px -28px -3px -12px;
}

#context-menu ul {
    background-color: #EEE;
    color: #333;
    font-size: 12px;
    padding: 2px;
    zoom: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .75);
}

#context-menu li {
    padding: 3px 5px 3px 20px;
    line-height: 12px;
    cursor: pointer;
    margin-bottom: 2px;
    background: 1px no-repeat;
    white-space: nowrap;
}

#context-menu li:hover {
    background-color: #ccc;
}

#context-menu li:last-child {
    margin-bottom: 0;
}

#context-menu .private {
    background-image: url(../candy/res/img/action/private.png);
}

#context-menu .ignore {
    background-image: url(../candy/res/img/action/ignore.png);
}

#context-menu .unignore {
    background-image: url(../candy/res/img/action/unignore.png);
}

#context-menu .kick {
    background-image: url(../candy/res/img/action/kick.png);
}

#context-menu .ban {
    background-image: url(../candy/res/img/action/ban.png);
}

#context-menu .subject {
    background-image: url(../candy/res/img/action/subject.png);
}

#context-menu .emoticons {
    padding-left: 5px;
    width: 85px;
    white-space: normal;
}

#context-menu .emoticons:hover {
    background-color: transparent;
}

#context-menu .emoticons img {
    cursor: pointer;
    margin: 3px;
    height: 15px;
    width: 15px;
}

#chat-modal.modal-common {
    background: #eee;
    width: 300px;
    padding: 20px 5px;
    color: #333;
    font-size: 16px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -45px;
    text-align: center;
    display: none;
    z-index: 100;
    border: 5px solid #888;
}

#chat-modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-image: url(../candy/res/img/overlay.png);
}

#chat-modal.modal-login {
    display: block;
    margin-top: -100px;
}

#chat-modal-spinner {
    display: none;
    margin-left: 15px;
}

#chat-modal form {
    margin: 15px 0;
}

#chat-modal label, #chat-modal input, #chat-modal select {
    display: block;
    float: left;
    line-height: 26px;
    font-size: 16px;
    margin: 5px 0;
}

#chat-modal input, #chat-modal select {
    padding: 2px;
    line-height: 16px;
    width: 150px;
}

#chat-modal input[type='text'],
#chat-modal input[type='password'] {
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 14px;
    color: #333;
}

#chat-modal.login-with-domains {
    width: 650px;
    margin-left: -330px;
}

#chat-modal span.at-symbol {
    float: left;
    padding: 6px;
    font-size: 14px;
}

#chat-modal select[name=domain] {
    width: 320px;
}

#chat-modal label {
     text-align: right;
     padding-right: 1em;
     clear: both;
     width: 100px;
}

#chat-modal input.button {
    float: none;
    display: block;
    margin: 5px auto;
    clear: both;
    position: relative;
    top: 10px;
    width: 200px;
}

#chat-modal .close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 5px;
    margin: -17px 3px 0 0;
    color: #999;
}

#chat-modal .close:hover {
    color: #333;
    background-color: #aaa;
}

.webchat_message_highlight {
    color: #0066ff;
    font-weight: bold
}

.webchat_name_highlight {
    color: #ff0000
}


/* Console */

#console-show {
    cursor: pointer;
}

#console-hide {
    cursor: pointer;
}

#console-log {
    border: 2px solid;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 16px;
}

.console-log-msg {
    font-size: 14px;
    padding: 12px;
    white-space: pre-wrap;
}

#console-input {
    border: 1px solid;
    padding: 6px;
    margin: 0;
    font-size: 14px;
    outline-width: 0;
    background-color: white;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.console-log-sent {
    background-color: lightgreen;
}

.console-log-recv {
    background-color: pink;
}

.console-log-misc {
    background-color: lightblue;
}

#console-submit {
    float: right;
    padding: 4px;
    margin: 8px 0px 0px 0px;
}

#console-error {
    color: red;
}


/* End Console */

/* End Chat */

body > main > #editor-panel {
    width: 920px;
    min-height: 420px;
    margin: 0px auto;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    z-index: 25;
}

body > main > #editor-panel > menu {
    margin: 0;
    padding: 8px;
    background: #eee;
    font: 14px Orbitron, Arial, sans-serif;
}

body > main > #editor-panel > menu > li {
    margin: 0 8px;
    padding: 0;
}

body > main > #editor-panel > nav {
    background: #ccc;
    display: table;
    font: 12px Orbitron, Arial, sans-serif;
    padding: 0;
    width: 100%;
}

body > main > #editor-panel > nav > li {
    border-bottom: 2px solid #0af;
    display: table-cell;
    padding: 8px 16px 6px;
}

body > main > #editor-panel > #editor-ace {
    font: 16px/normal Hack, monospace;
}

.editor_closeButton {
    background-color: transparent;
    right: -2px;
    top: -3px;
    height: auto;
    padding: 5px;
    margin: 0 5px 0 2px;
    color: #aaa;
}

.editor_inactiveTab {
    display:inline-list-item;
    margin:2px 2px 0px 2px;
    flex-grow: 1;
    flex-basis: 0;
    float:left
}

.editor_activeTab {
    display:inline-list-item;
    margin: 2px 2px 0px 2px;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 0;
    float: left
}

body > footer {
    background-color: #555;
    color: #fff;
    clear: both;
    font: 13px Orbitron, Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 32px 0 0 0;
    padding: 16px 0;
    width: 100%;
}

body > footer > nav {
    display: flex;
    margin-bottom: 32px;
}

body > footer > nav > section {
    display: block;
    margin: 0 auto;
}

body > footer > nav > section > h1 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 4px;
}

body > aside {
    background: #fc0;
    width: 15%;
}

body > article {
    margin: 4em;
}

aside + article {
    display: float;
    margin-left: 20%;
}


/* roster toggling */

.roster-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 200px;
    width: 20px;
    margin: 30px 0 31px 0;
    background: #ddd;
    -webkit-transition: 0.3s right;
    -moz-transition: 0.3s right;
    transition: 0.3s right;
    cursor: pointer;
}
.roster-toggle:hover {
    background:#e2e2e2;
}
.roster-toggle-icon {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 18px;
    margin: auto;
    height: 18px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzU1NSIgc3Ryb2tlLXdpZHRoPSIzIj48cGF0aCBkPSJNMTEuODk4IDUuMDYyTDQuOCAxMi4xNmw3LjA5OCA3LjA5OCIvPjxwYXRoIGQ9Ik0yMC4zMTIgNS4xNWwtNy4wOTggNy4xIDcuMDk4IDcuMDk4Ii8+PC9nPjwvc3ZnPgo=) 0 0 / 18px 18px;
    -webkit-transition: 0.3s -webkit-transform, transform;
    -moz-transition: 0.3s -moz-transform, transform;
    -ms-transition: 0.3s -ms-transform, transform;
    transition: 0.3s transform;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.roster-pane {
    -webkit-transition: 0.3s right;
    -moz-transition: 0.3s right;
    transition: 0.3s right;
}
.message-pane-wrapper {
    margin-right:220px;
    -webkit-transition: 0.3s margin-right;
    -moz-transition: 0.3s margin-right;
    transition: 0.3s margin-right;
}

.roster-hidden .roster-toggle {
    right:0;
}
.roster-hidden .roster-pane {
    right: -200px;
}
.roster-hidden .message-pane-wrapper {
    margin-right:20px;
}
.roster-hidden .roster-toggle-icon {
    -webkit-transform:none;
    -moz-transform:none;
    -ms-transform:none;
    transform:none;
}


/* media selectors */

@media screen and (max-width: 1024px) {
    .room-pane {
        font-size: 14px;
    }

    .message-pane li>div {
        padding-left: 128px;
    }

    .message-pane label {
        margin-left: -128px;
        width: 112px;
    }

    .message-pane-wrapper {
        margin-right: 180px;
    }

    .roster-pane {
        width: 160px;
    }
    
    .roster-toggle {
        right: 160px;
    }

    body > main > #editor-panel {
        width: 740px;
    }

    body > main > #editor-panel > #editor-ace {
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    .user-info-popup {
        width: 530px;
        height: 250px;
    }

    .popup-content {
        font-size: 10px;
    }

    .room-pane {
        font-size: 12px;
    }

    .message-pane li>div {
        padding-left: 112px;
    }

    .message-pane label {
        margin-left: -112px;
        width: 96px;
    }

    .message-pane-wrapper {
        margin-right: 160px;
    }

    .roster-pane {
        width: 140px;
    }
    
    .roster-toggle {
        right: 140px;
    }

    body > main > #editor-panel {
        width: 640px;
    }

    body > main > #editor-panel > #editor-ace {
        font-size: 12px;
    }
}

@media screen and (max-width: 740px) {
    #logotext {
        display: inline-block;
        bottom: 4px;
        width: 56px;
        font-size: 14px;
        line-height: 14px;
        text-indent: -10px;
    }

    body > main {
        margin: 0 32px;
    }

    .user-info-popup {
        width: 450px;
    }

    .popup-content {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .u-info-title, .u-info-detail {
        display: block;
    }

    .u-info-title {
        margin-bottom: .25em;
    }

    .u-info-detail {
        margin-bottom: 2em;
    }

    .u-info-detail:last-of-type {
        /*margin-bottom: 0;*/
    }

    #exit-btn {
        top: 1em;
    }

    .jid-user.u-info-detail, .jid-user.u-info-detail + .u-info-detail {
        display: inline-block; /*Prevents the JID from splitting at the '@' symbol*/
    }

    .full-name, .popup-content hr, .popup-content img, .popup-content br {
        display: none;
    }

    .chat-title {
        margin-top: 2em;
    }

    .room-pane {
        font-size: 10px;
    }

    .message-pane li>div {
        padding-left: 96px;
    }

    .message-pane label {
        margin-left: -96px;
        width: 80px;
    }

    .message-pane-wrapper {
        margin-right: 140px;
    }

    .roster-pane {
        width: 120px;
    }
    
    .roster-toggle {
        right: 120px;
    }

    body > main > #editor-panel {
        width: 556px;
    }

    body > main > #editor-panel > #editor-ace {
        font-size: 10px;
    }
}

@media screen and (max-width: 620px) {
    #userinfo .jid-host {
        display: none;
    }

    body > nav > header {
        margin: 7px 0;
    }

    body > nav > header #gcilogo {
        width: 258px;
        height: 42px;
    }

    body > nav > menu > li {
        padding: 270px 12px 12px;
    }

    body.stickynav > nav > menu > li {
        padding: 12px 12px;
    }

    body > main {
        margin: 0 16px;
    }

    .room-pane {
        font-size: 9px;
    }

    .message-pane li>div {
        padding-left: 88px;
    }

    .message-pane label {
        margin-left: -88px;
        width: 72px;
    }

    .message-pane-wrapper {
        margin-right: 130px;
    }

    .roster-pane {
        width: 110px;
    }
    
    .roster-toggle {
        right: 110px;
    }

    body > main > #editor-panel {
        width: 468px;
    }

    body > main > #editor-panel > #editor-ace {
        font-size: 9px;
    }
}

@media screen and (max-width: 520px) {
    #logotext {
        display: none;
    }

    body > nav > header {
        margin: 14px 0;
    }

    body > nav > header #gcilogo {
        width: 173px;
        height: 28px;
    }

    .user-info-popup {
        width: 335px;
        height: 190px;
    }

    .popup-content {
        font-size: 7.5px;
    }

    body > nav > menu > li {
        padding: 270px 6px 12px;
        font: 10px Orbitron, Arial, sans-serif;
    }

    body.stickynav > nav > menu > li {
        padding: 12px 6px;
    }

    body > main {
        margin: 0 8px;
    }

    .room-pane {
        font-size: 7px;
    }

    .message-pane li>div {
        padding-left: 72px;
    }

    .message-pane label {
        margin-left: -72px;
        width: 56px;
    }

    .message-pane-wrapper {
        margin-right: 110px;
    }

    .roster-pane {
        width: 90px;
    }
    
    .roster-toggle {
        right: 90px;
    }

    body > main > #editor-panel {
        width: 386px;
    }

    body > main > #editor-panel > #editor-ace {
        font-size: 7px;
    }
}
